#ticket_form {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    color: dimgray;
    width: 50%;
    border: 2px solid lightgray;
    padding: 0 8px;
}

.title {
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 12px 0 0;
}

form ul {
    list-style-type: none;
    padding-left: 0;
}

form li {
    margin: 0 0 6px 0;
}

textarea {
    vertical-align: top;
    border-color: lightgray;
}

.field {
    width: 100%;
}

.register {
    font-size: 8pt;
    color: gray;
    padding: 8px 0;
}

.feedback {
    font-size: 10pt;
    padding: 8px 0 0;
}

iframe#ticketform {
    width: 274px;
    height: 306px;
    border: none;
}